body{
	background-color: antiquewhite;
	border: 5px;
	border-style: solid;
	border-color: chocolate;
	color: blue;
	font-size: 16px;
}

header{
	/* propiedades del background */
	background-image: url(../img/bg-hero.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/* Propiedades del texto*/
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	text-shadow: 0px 3px 6px black;
	text-align: right;
	color: white;

	/*Borde*/
	border: 5px;
	border-style: solid;
	border-color: red;

	/*Propiedades de caja*/
	padding: 40px;
	margin: 10px;
}

header h1{
	font-size: 60px;
}

header h3{
	font-size: 40px;
	font-weight: lighter;
}

.rubik-light {
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

#eventos-anteriores{
	text-align: center;
}

footer{
	text-align: center;
	background-color: #020202e4;
}

i{
	color: green;
	font-size: 30px;
}


/*
.caja{
	border: 5px;
	border-style: solid;
	border-color: aqua;

}

.div1 {
	border: 5px;
	border-style: solid;
	border-color: blue;
	display: inline-block;
	width: 50%;
	height: 80%;
}

.div2{
	border: 5px;
	border-style: solid;
	border-color: green;
	display: inline-block;
	margin: 5px;
	width: 50%;
}

.div3{
	border: 5px;
	border-style: solid;
	border-color: yellow;
	display: block;
	margin: 1rem;
}

.div4{
	border: 5px; 
	border-style: solid;
	border-color: blueviolet;
	display: block;
	margin: 10vw;
	font-size: 24px;
}*/